{% extends "base.html" %}
{% block content %}

<!-- {{ hotel[0]["name"] }}
{{ hotel[1]["name"] }} -->

    <h1>{{ page_title }}</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis accusamus, labore atque mollitia officiis rem illum? Soluta tenetur fugiat alias maxime consequatur consectetur eaque vero ut, odit expedita ipsum delectus.    
    </p>

        
        {% for member in hotel %}
        <!-- member can be any word -->

        

            <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
            
            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}
        <!-- Horiontal ruler -->

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}