{% extends "base.html" %}
{% block content %}

<!-- {{ hotel[0]["name"] }}
{{ hotel[1]["name"] }} -->

    <h1 class="center-text">{{ page_title }}</h1>

        
        {% for member in hotel %}
        <!-- member can be any word -->

            <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
            
            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}
        <!-- Horiontal ruler -->

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}