{% extends "base.html" %}
{% block content %}

<section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="static/assets/img/full-photo.webp" alt="Hotel in the Mountains" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Evermore Chalet</h4>
                            <p class="text-black-50 mb-0">Your private getaway in the Rockies. <br> <br>  We offer 2 and 3 bedroom chalets in Canmore, AB. With Banff National Park at our doorstep, this is the perfect location for ski trips, mountain adventures, reunions, and retreats. Enjoy our spacious condo-style suites as your home away from home in the Canadian Rockies!</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row -->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid mb-3 mb-lg-0" style="width: 100%;" src="static/assets/img/mountain.jpg" alt="Hiking in the Mountains" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Mountain Hiking</h4>
                                    <p class="mb-0 text-white-50 hiking-town">There are endless trails to hike all throughout the Rockies for you to enjoy getting out and breathing the clean mountain air. Just a step outside our doorstep and you will find everything you need. Some highlights that the area is known for is hiking through Kananaskas, Lake Louise and even to the top of the Three Sisters, the famous mountains named for their beauty and elegence.
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/town-of-canmore.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Town of Canmore</h4>
                                    <p class="mb-0 text-white-50 hiking-town">Canmore is a quant town with all the small town feel you could imagine. With the mountain-switzerland chalet architecture throughout the town, it is truly a unqique experience. There are trails and streams all throughout with festivals in the summers to enjoy. There is also plenty of shopping and restaurents to enjoy the day in the sun or bars to cool off in the night. Remember to get some of our famous fudge while you are here!
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         


{% endblock %}